# PostgreSQL database credentials
POSTGRES_USER="your_postgres_user"
POSTGRES_PASSWORD="your_postgres_password"
POSTGRES_DB="your_postgres_db"
# POSTGRES_HOST and DATABASE_URL are used for local development.
# Note: In compose.yml, POSTGRES_HOST is hardcoded as "postgres" and POSTGRES_PORT as "5432".
# If you need to change them, update the corresponding values in the environment section of compose.yml.
POSTGRES_HOST="your_postgres_host"
POSTGRES_PORT="your_postgres_port"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# Secret key for authentication (generate a secure value)
AUTH_SECRET="your_auth_secret"

# GitHub OAuth client ID and GitHub OAuth client secret
AUTH_GITHUB_ID="your_github_client_id"
AUTH_GITHUB_SECRET="your_github_client_secret"

# The base URL for authentication callbacks, typically the root URL of your application
AUTH_URL="http://localhost:3000"

# OpenAI API key and base URL for AI services
OPENAI_API_KEY="your_openai_api_key"
OPENAI_BASE_URL="your_openai_base_url_if_custom"

# Docker Remote Access Configuration
DOCKER_HOST_MODE="remote_or_blank"
DOCKER_REMOTE_PROTOCOL="http_or_https_or_ssh"
DOCKER_REMOTE_HOST="your_docker_remote_host"
DOCKER_REMOTE_PORT="your_docker_remote_port"

# Docker TLS/SSL Certificate Paths (only required when DOCKER_HOST_MODE is set to "remote" **with TLS** enabled)
DOCKER_REMOTE_CERTS_PATH="your_certs_path"
DOCKER_REMOTE_CA_PATH="your_ca_path" # Default: /certs/ca.pem
DOCKER_REMOTE_CERT_PATH="your_cert_path" # Default: /certs/cert.pem
DOCKER_REMOTE_KEY_PATH="your_remote_key_path" # Default: /certs/key.pem
